* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    line-height: 1.6;
    display: flex;
    position: relative;
}

.form-group {
    max-width: 650px;
    max-height: 200px;
    position: relative;
}

.form-control, select.form-control {
    background-color: #1e2a38;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 10px 13px;
    color: #ffffff;
    font-size: 1.6em;
    height: 66px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="white" d="M12 6L8 10 4 6z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 16px 16px;
}

select.form-control:focus, .form-control:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #f9a825;
    border: 1px solid #2563EB;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.form-container {
    flex: 1;
    max-width: 650px;
    max-height: 200px;
    width: 50%;
    height: 70%;
    padding-left: 55px;
    position: absolute;
    left: 8%;
    top: 30%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: end;
    padding-top: 260px;
    padding-right: 180px;
    width: 30%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.small-img {
    height: 600px;
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
}

.header .logo {
    font-size: 2.3em;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 7%;
}

.header .logo::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #3B82F6;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    left: 30px;
}

.header nav {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-left: 23px;
}

.header nav a {
    color: #9CA3AF;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

.header nav a:hover {
    color: #FFFFFF;
}

.form-container h1, p {
    padding-left: 15px;
}

.startLine {
    font-size: 1.1em;
    padding-left: 18px;
    font-weight: bold;
}

.form-container h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

.form-container h1 span {
    color: #3B82F6;
    font-weight: bold;
}

.form-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding-bottom: 6px;
    color: #9CA3AF;
    text-align: center;
}

.form-container p a {
    color: #3B82F6;
    text-decoration: none;
}

.form-container p a:hover {
    text-decoration: underline;
}

.input-group {
    height: 70%;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding-left: 15px;
    padding-bottom: 6px;
}

.input-group-row {
    display: flex;
    justify-content: space-evenly;
}

.input-group label {
    display: block;
    font-size: 0.85em;
    margin-bottom: 5px;
    color: #747679;
    position: absolute;
    top: 10%;
    left: 30px;
}

.input-group input, select {
    width: 100%;
    height: 66px;
    padding-left: 13px;
    padding-top: 15px;
    border-radius: 15px;
    border: 1px solid transparent;
    background: #1F2937;
    color: #FFFFFF;
    font-size: 1.6em;
}

.input-group input::placeholder {
    color: #9CA3AF;
    padding-left: 30px;
    padding-top: 30px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group .change-method,
.button-group .create-account {
    width: 48%;
    height: 50px;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.button-group .change-method {
    background: #6B7280;
    color: #FFFFFF;
}

.button-group .create-account {
    background: #435681;
    color: #FFFFFF;
}

.button-group .change-method:hover {
    background: #4B5563;
}

.button-group .create-account:hover {
    background: #2563EB;
}